.normal {
}

.normal {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-sizing: content-box;
  font-family: SimSun,"Arial Narrow",HELVETICA;
  border-radius: 4px;
  overflow: hidden;
  user-select: none;
}

.keyboard {
  text-align: center;
}

.inputResult {
  font-size: 31px;
  color: #000000;
  height: 90px;
  line-height: 90px;
  background-color: #e0e0e0;
  background: linear-gradient(180deg, #e0e0e0, #f0f0f0 30%, #eeeeee);
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}

.keyboardRow {
}

.keyboardCol {
  font-size: 36px;
  background-color: #9ea6b3;
  color: #ffffff;
  height: 80px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  &:last-child {
    border-right: 0;
  }
}

.keyboardDelete {
  font-size: 22px;
}