@borderColor: #dedede;

.normal {
}

.normal {
  border: 1px solid @borderColor;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-sizing: content-box;
}

.table {
  width: 100%;
  table-layout: fixed;
}